@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #F6E6CB;
    --color-secundario: #A0937D;
    --color-terciario: #E7D4B5;

    --fuente-mons:'Montserrat', sans-serif;
    --fuente-kron:'Krono One', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    color: var(--color-primario);
    box-sizing: border-box;
    background-color: #E5E5E5;
}
textarea{
    resize: none;
}
.imagen_logo{
    padding: 1%;
    width: 5%;
}
.presentacion{
    display: flex;
    align-items: normal;
    justify-content:space-around;
    padding: 0% 0% 4% 0%;
    margin: 0% 2% 0% 8%; 
}
.presentacion_ingreso{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 3%;
}
.presentacion_ingreso_texto{
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 0%;
    resize: none;
}
.presentacion_ingreso_texto_input{
    background-color: #E5E5E5; 
    color: var(--color-secundario);
    font-family: var(--fuente-kron);
    font-size: 2.25rem;
    border: none;
    margin: 2%;
    padding: 15%;
}
.presentacion_ingreso_texto_advertencia{
    display: flex;
    align-items: center;
    margin: 20% 2% 1% 2%;
}
.presentacion_ingreso_texto_advertencia_img{
    margin: 1%;
    width: 16px;
}
.presentacion_ingreso_texto_advertencia_p{
    font-family: var(--fuente-mons);
    font-size: 1rem;
    color: var(--color-secundario);
}
.presentacion_ingreso_botones{
    display: flex;
    justify-content: space-between;
}
.presentacion_ingreso_botones_Encriptar{
    width: 400px;
    background-color: var(--color-secundario);
    border: none;
    border-radius: 24px;
    font-family: var(--fuente-kron);
    font-size: 1.6rem;
    margin: 1%;

}
.presentacion_ingreso_botones_Desencriptar{
    width: 400px;
    height: 80px;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 24px;
    font-size: 1.6rem;
    margin: 1%;
    font-family: var(--fuente-kron);
}
.Resultado{
    background-color: white;
    border-radius: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.Resultado_Imagen{
    width: auto;
    padding: 8%;
    display: auto;
}
.imagen{
    width: auto;
    padding: 0;
    margin: 0;
}
.Resultado_Mensaje{
    width: auto;
    padding: 6%;
    text-align: center;
    color: gray;
    font-family: var(--fuente-kron);
    font-size: 1.1rem;

}
.boton_copiar{
    padding-top: 80px;
    display: none;

}
.boton_cop{
    
    width: 310px;
    height: 70px;
    background-color: var(--color-secundario);
    border: 0px;
    border-radius: 24px;
    font-size: 1.6rem;
    margin: 11%;
    font-family: var(--fuente-kron);
}
footer{
    background-color: var(--color-secundario);
    padding: 0% 0% 0% 0%;
    text-align: center;
    font-family: var(--fuente-mons);
    font-size: 1.3rem;
}
.creditos{
    text-decoration: none;
    color: var(--color-primario);
    font-size: 0.9rem;
}

@media(max-width: 800px){
    .presentacion{

        display: inline;
    }
    .presentacion_ingreso{
        
        padding: 0% 22% 10%;
    }
    .presentacion_ingreso_texto_input{
        height: 300px;
        margin: 10% 0% 30%;
    }
    .Resultado{
        padding: 0% 22% 0%;
    }
    .Resultado_Imagen{
        display: none;
    }

}
@media(max-width: 400px){
    .presentacion{

        display: inline;
    }
    .presentacion_ingreso{
        
        padding: 0% 22% 10%;
    }
    .presentacion_ingreso_texto_input{
        height: 300px;
        margin: 10% 0% 30%;
    }
    .Resultado{
        padding: 0% 22% 0%;
    }
    .Resultado_Imagen{
        display: none;
    }

}